/* write down comments to make your css easier to read */


body {
    background-color: rgb(54, 52, 52);
  }

h1 {
    color: navy;
  }

h2 {
  color:#39FF14
}

h3 {
  color: hsl(342, 100%, 88%)
}

p {
  text-decoration-line: overline underline;
}